*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/*HEADER*/
/*===Header-1===*/
header{
	width: 100%;
	height: 100vh;
	background: #fff;
	background-position: center;
	background-size: cover;
	z-index: 0;
	position: relative;
}
.home-icon{
	width: 6%;
	height: 7vh;
	background: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}
.home-icon a {
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
	transition: .5s all;
}
.home-icon a:hover{
	transform: scale(1.2);
	text-shadow: 0 0 5px #fff;
}
/* Social Icon ======= */
.social-icon{
	width: 6%;
	height: 100vh;
	background: #fff;
	box-sizing: border-box;
	border-right: 2px solid #212121;
}
.social-icon nav{
	padding-top: 70px;
}
.social-icon nav ul li{
	list-style: none;
	margin: 50% 20px;
}
.social-icon nav ul li a{
	color: #212121;
	font-size: 1.5em;
	transition: .5s all;
}
.social-icon nav ul li a:hover{
	text-shadow: 0 0 10px #212121;
}
/* konten-header====== */
.konten-header{
	position: absolute;
	width: 94%;
	height: 100vh;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}
.kh-kiri{
	flex-basis: 30%;
	background: linear-gradient(to bottom, #212121 70%, #09024b);
}
.kh-kanan{
	flex-basis: 70%;
	background: #fff;
}
.navbar{
	position: absolute;
	top: 5%;
	left: 18%;
	width: 30%;
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.h2-1, .h2-2{
	transition: .5s all;
}
.h2-1 a, .h2-2 a{
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	padding: 10px;
}
.h2-1 a{
	color: #fff;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.h2-1:hover{
	transform: translateY(20px);
}
.h2-2 a{
	color: #212121;
	border-right: 2px solid #212122;
	border-top: 2px solid #212122;
}
.h2-2:hover{
	transform: translateY(-20px);
}
/* Keterangan DT'art.com===== */

.keterangan{
	position: relative;
	width: 50%;
	height: 40vh;
	top: -33%;
	left: 20%;
	box-shadow: 0 0 10px #230cf1;
	background: #230cf1;
	z-index: 999;
	border-radius: 0 35px 0 35px;
}
.ket-image{
	position: absolute;
	top: -30%;
	left: 10%;
}
.ket-image img{
	width: 40%;
	height: 35vh;
}
.keterangan h1{
	width: 40%;
	font-size: 3em;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	position: absolute;
	left: 50%;
	border-bottom: 3px solid #212122;
	padding-bottom: 15px;
}
.keterangan p{
	width: 50%;
	font-size: 18px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 40%;
}

/* Teks Kanan==== */

.kanan-text{
	width: 60%;
	height: 40vh;
	position: relative;
	left: 30%;
	top: 15%;
}
.kanan-text h1{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	z-index: 99;

}
.kanan-text h1:nth-child(1){
	font-size: 3em;
	position: absolute;
	left: 30%;
}
.kanan-text h1:nth-child(2){
	font-size: 2.5em;
	position: absolute;
	left: 35%;
	top: 15%;
	color: #04207a;
}
.kanan-text h1:nth-child(3){
	font-size: 1.7em;
	position: absolute;
	left: 20%;
	top: 38%;
	border-top: 2px solid #04207a;
	padding-top: 10px;
}
.kh-kanan img{
	width: 50%;
	position: absolute;
	right: -28%;
	top: 20%;
}


/*Section 2 ==============*/

.kontainer{
	width: 100%;
	height: 170vh;
	position: relative;
	margin-top: 6%;
	overflow: hidden;
}
.konten-kiri{
	width: 70%;
	height: 70vh;
	background: #212121;
	display: block;
	border-radius: 0 0 100px 0;
	position: relative;
}
.konten-kiri1{
	position: absolute;
	top: 0;
	z-index: 10 ;
	width: 0%;
	height: 70vh;
	background: linear-gradient(to top left,  #f01919, #73005c);
	border-radius: 0 0 100px 0;
}
.konten-kiri h1{
	margin-left: 15%;
	padding-top: 7%;
	font-family: "Roboto", sans-serif;
	font-size: 47px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	z-index: 5;
	
}
.btn button{
	background: #ff6cab;
	outline: none;
	border: none;
	border-radius: 30px;
	width: 20%;
	height: 7vh;
	font-family: Roboto;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin-left: 15%;
	position: absolute;
	top: 60%;
	cursor: pointer;
	transition: .7s all;
	
}
.btn button:hover{
	background: transparent;
	border: 2px solid #ff6cab;
}
.konten-kiri .arrow{
	margin-left: 20px;
}
.icon1{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 10%;
	position: absolute;
	top: 3%;
	right: 51%;
}
.icon1 i{
	color: #fff;
	font-size: 25px;
}


.konten-kanan{
	width: 50%;
	height: 50vh;
	background: linear-gradient(to top left, #6EE2F5f0, #6454f0);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	border-radius: 0 0 0 100px;
}
.konten-kanan img{
	position: absolute;
	right: 32%;
	width: 50%; 
}

/*Card========*/

.kontainer-download{
	width: 70%;
	height: 50vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 27%;
	margin-top: 3%;
}
.swiper-container{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: -5px -5px 5px #6454f0;
}
.card{
	position: relative;
	top: 5%;
	width: 80%;
	height: 40vh;
	display: block;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(image/bg-1.png);
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	box-shadow: 0 0 10px #212121;
	z-index: 10;
}
.card img{
	width: 35%;
	position: absolute;
	top: 45%;
	left: 5%;
}
.card h1{
	font-weight: bold;
	font-family: Roboto;
	font-size: 1.4em;
	color: #fff;
	text-transform: uperrcase;
	position: absolute;
	top: 75%;
	left: 5%;
	transition: .5s all;
}
.card h1:hover{
	text-shadow: 0 0 20px #fff;
}
.card .star{
	position: absolute;
	top: 86%;
	left: 7%;
}
.card .star i{
	color: yellow; 
}
.one{
	transition: .5s all;
}
.one:hover{
	transform: scale(1.1);
}
.three{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(image/bg-3.png);
	transition: .5s all;
	font-size: 15px;
}
.three:hover{
	transform: scale(1.1);
}
.two{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(image/bg-2.png);
	transform: translateY(50px);
	transition: .5s all;
}
.two:hover{
	transform: translateY(0);
}
.four{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(image/bg-4.png);
	transform: translateY(50px);
	font-size: 15px;
	transition: .5s all;
}
.four:hover{
	transform: translateY(0);
}

/*Keterangan Download======*/

.ket-download{
	width: 90%;
	height: 100vh;
	display: inline-block;
	position: absolute;
	top: 46.7%;
}
.large-bar{
	width: 80%;
	height: 90vh;
	position: relative;
}
.large-bar img{
	position: absolute;
	top: 35%;
	left: -4%;
	width: 50%;
}
.large-bar h1{
	position: absolute;
	z-index: 2;
	top: 74%;
	left: 43%;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	
}
.large-bar h2{
	position: absolute;
	z-index: 2;
	top: 90%;
	left: 57%;
	width: 150px;
	height: 10px;
	padding: 25px;
	font-family: Roboto;
	font-weight: bold;
	border-radius: 20px;
	transition: .5s all;
	background: #68E1FD;
	font-size: 20px;
}
.large-bar h2 a{
	color: #212121;
	transition: .5s all;
}
.large-bar h2 a:hover{
	color: #fff;
}
.large-bar h2:hover{
	transform: translateX(20px);
}

/*Footer=======*/

footer{
	width: 100%;
	height: 30vh;
	background: #68E1FD;
	position: relative;
	margin-top: 5%;
}
.name h1{
	width: 50%;
	position: absolute;
	top: 10%;
	left: 40%;
}
.name h1::after{
	content: '';
	width: 100px;
	height: 5px;
	position: absolute;
	top: 20px;
	left: 25%;
	background: #212121;
	border-radius: 20px;
}
.name h1::before{
	content: '';
	width: 100px;
	height: 5px;
	position: absolute;
	top: 20px;
	left: -17%;
	background: #212121;
	border-radius: 20px;
}
.footer-descr{
	position: absolute;
	top: 35%;
	left: 31%;
}
.footer-descr ul{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
.footer-descr ul li{
	list-style: none;
	margin: 20px;
}
.footer-descr ul li a{
	color: #fff;
	transition: .5s all;
}
.footer-descr ul li a:hover{
	color: #0DF7D5;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
}

/*Media Query=======*/

@media only screen and (max-width : 770px){
	#h1{
		font-size: 1.5em;
		top: 25%;
	}
	.keterangan h1{
		font-size: 1.5em;
	}
	.keterangan p{
		font-size: 16px;
	}
	.konten-kiri h1{
		font-size: 2em;
		top: 17%;
	}
	.btn button{
		width: 40%;
	}
	.icon1{
		width: 25%;
		right: 41%;
	}
	.konten-kanan img{
		width: 60%;
		right: 27%;
	}
	.dua{
		top: 35%;
	}
	.tiga{
		top: 60%;
		width: 65%;
	}
	#btn2{
		left: 51%;
	}
	.konten-artikel{
		height: 75vh;
	}
	.kontainer-download{
		width: 85%;
		margin-left: 10%;
	}
	.large-bar img{
		top: 45%;
	}
	.large-bar h1{
		font-size: 1.5em;
		left: 50%;
		top: 60%;
	}
	.large-bar h2{
		top: 80%;
		width: 30%;
	}
	.name h1::after{
		display: none;
	}
	.name h1::before{
		display: none;
	}
	.footer-descr{
		left: 20%;
	}

}
@media only screen and (max-width : 1030px){
	/*Header Atas*/
	.kanan-text h1:nth-child(2){
		font-size: 2em;
	}
	.keterangan{
		width: 65%;
	}
	/*konten Kiri*/
	.btn button{
		width: 50%;
	}
	/*ket download*/
	.large-bar h2{
		left: 70%;
	}
	/*footer*/
	.name h1::after{
		display: none;
	}
	.name h1::before{
		display: none;
	}
	.footer-descr{
		left: 30%;
	}

	
}

@media only screen and (max-width : 325px){
	.konten-kiri{
		width: 100%;
	}
	.konten-kiri h1{
		font-size: 2em;
		top: 17%;
	}
	.btn button{
		top: 70%;
		width: 70%;
	}
	.arrow{
		display: none;
	}
	.icon1{
		width: 25%;
		right: 51%;
	}
	.konten-kanan{
		opacity: 0.7;
	}
	.konten-kanan img{
		display: none;
	}
	#btn2{
		width: 30%;
		top: 85%;
		left: 51%;
	}
	.konten-kiri1{
		border-radius: 0;
	}
	/*Kontainer Download*/
	.kontainer-download{
		width: 100%;
		margin-left: 0;
		justify-content: center;
	}
	.swiper-container {
		width: 150%;
		height: 100%;
	}
	.swiper-slide{
		width: 100%;
	}
	.card{
		width: 100%;
	}
	.large-bar img{
		display: none;
	}
	.large-bar h1{
		width: 100%;
		font-size: 1.5em;
		left: 30%;
		top: 60%;
	}
	.large-bar h2{
		top: 80%;
		width: 50%;
	}
	.star{
		display: none;
	}
	/*Footer===*/
	.name h1{
		left: 10%;
	}
	.name h1::after{
		display: none;
	}
	.name h1::before{
		display: none;
	}
	.name h1{
		left: 30%;
	}
	.footer-descr ul li{
		left: 0;
		margin: 0;
	}
}

@media only screen and (max-width : 450px){
		.keterangan{
			width: 100%;
			left: 0;
		}
		.kh-kiri{
			display: none;
		}
		.konten-header{
			width: 80%;
		}
		.home-icon{
			width: 15%;
		}
		.social-icon{
			width: 15%;
		}
		.navbar{
			left: 42%;
		}
		.h2-1 a{
			color: #212121;
			border-left: 2px solid #212121;
			border-bottom: 2px solid #212121;
		}
		.kh-kanan img{
			display: none;
		}
		.kanan-text{
			width: 100%;
			left: 0;
			top: 17%;
		}
		#h1{
			font-size: 1.2em;
			top: 40%;
		}
		#h2{
			font-size: 1.8em;
			top: 27%;
		}
		#h3{
			font-size: 1em;
			top: 57%;
		}
		section{
			margin-top: 10%;
		}
		.col-img img{
			width: 20%;
		}
		.col-navbar{
			display: none;
		}
		.bar i{
			display: contents;
			font-size: 2em;
			position: absolute;
			top: 30%;
			color: #fff;
		}
		.konten-kiri{
			width: 100%;
		}
		.konten-kiri h1{
			font-size: 2em;
			top: 17%;
		}
		.btn button{
			top: 70%;
			width: 50%;
		}
		.icon1{
			width: 25%;
			right: 51%;
		}
		.konten-kanan{
			opacity: 0.7;
		}
		.konten-kanan img{
			display: none;
		}
		#btn2{
			width: 30%;
			top: 85%;
			left: 51%;
		}
		.konten-kiri1{
			border-radius: 0;
		}
		/*Kontainer Download*/
		.kontainer-download{
			width: 100%;
			margin-left: 0;
			justify-content: center;
		}
		.swiper-container {
			width: 150%;
			height: 100%;
		}
		.swiper-slide{
			width: 100%;
		}
		.card{
			width: 100%;
		}
		.large-bar img{
			display: none;
		}
		.large-bar h1{
			width: 100%;
			font-size: 1.5em;
			left: 30%;
			top: 60%;
		}
		.large-bar h2{
			top: 80%;
			width: 50%;
		}
		/*Footer===*/
		.name h1::after{
			display: none;
		}
		.name h1::before{
			display: none;
		}
		.name h1{
			left: 30%;
		}
		.footer-descr{
			left: 0;
			margin: 0;
			width: 100%;
		}
}
@media only screen and (max-width : 376px){
	#h1{
		font-size: 1em;
		top: 40%;
	}
	section{
		margin-top: 15%;
	}
	.jdl-art{
		width: 80%;
	}
	.artikel h2{
		font-size: 1em;
	}
	.footer-descr ul li{
		margin: 10px;
	}
}

