*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/* Button Untuk Klik Event */
button{
    position: absolute;
    z-index: 99;
    top: 3%;
    right: 7%;
    background: #090322;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s all;
}
button:hover{
    box-shadow: 0 0 20px #212121;
}

/* Navbar Atas */
nav{
    display: grid;
    width: 70%;
    grid-template-columns: 2fr 1.5fr;
    justify-content: space-evenly;
    margin: 2% 0 0 2%;

}
nav ul{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
nav ul li{
    list-style: none;
    transition: .5s all;
}
nav ul li a{
    text-decoration: none;
    color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul li:hover{
    transform: scale(1.2);
}
.logo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.logo h1 span{
    color: #2022a7;
}
/* Konten Mid====== */
.mid{
    position: relative;
    width: 100%;
    height: 80vh;
}
.image-content{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 3%;
    left: 15%;
    background: #090d2c;
}
.image-content img{
    margin-left: 25%;
    width: 45%;
    transition: .5s all;
}
.image-content img.efek-gambar{
    transform: scaleX(1.2);
    margin-top: 20px;
}
.text-content{
    width: 28%;
    height: 50%;
    background: #fff;
    position: absolute;
    top: 20%;
    left: 2%;
    box-sizing: border-box;
    border: 2px solid #212121;
    box-shadow: -10px -10px 0 #090d2c;
}
.text-content h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    text-align: left;
    margin: 30px;
    position: relative;
}
.text-content h1::after{
    content: '';
    width: 200px;
    height: 2px;
    background: #090d2c;
    top: 120px;
    right: 90px;
    position: absolute;
}
.text-content h1::before{
    content: '';
    width: 230px;
    height: 2px;
    background: #090d2c;
    top: 140px;
    left: 20px;
    position: absolute;
}
.image-kosong{
    width: 40%;
    height: 70%;
    position: absolute;
    top: 20%;
    right: 0;
}
.image-kosong h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    line-height: 22px;
    transition: .5s all;
}
.judul-hilang{
    opacity: 0;
}
.image-kosong h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 71%;
    left: -10%;
    transition: .5s all;
}
.image-kosong p{
    color: #fff;
    font-size: .9rem;
    font-family: monospace;
    width: 80%;
    position: absolute;
    top: 81%;
    left: -17%;
    opacity: 0.5;
    border-left: 2px solid #fff;
    padding-left: 30px;
    transition: .5s all;
}
.image-kosong p.teks-hilang{
    transform: translateX(20px);
    opacity: 0;
}
.image-kosong i{
    background: #090322;
    color: #fff;
    position: absolute;
    bottom: -20%;
    right: -5%;
    padding: 20px;
    font-size: 1.2rem;
    box-shadow: -5px -5px 0 #fff;
}
.box{
    position: absolute;
    bottom: -9%;
    left: 12%;    
    border: 4px solid #212121;
    width: 70px;
    height: 70px;
    z-index: -1;
}

/* Keterangan Produk  ========== */

.keterangan-produk{
    width: 90%;
    margin: 4% auto 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 20px;
}
.card-ket{
    display: flex;
    justify-content: space-evenly;
}
.card-ket i{
    color: #212121;
    font-size: 1.5rem;
}
.card-ket h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
}
.card-ket p{
    font-family: cursive;
    font-size: .9rem;
    opacity: 0.8;
}

.teks-ket{
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 6% 0 0 15%;
    position: relative;
}
.teks-ket::before{
    position: absolute;
    content: '';
    width: 130px;
    height: 3px;
    background: #212121;
    top: 40px;
    left: -150px;
}

/* Navbar list / Animasi */
.navbar-list{
    width: 30%;
    height: 90vh;
    position: absolute;
    top: 11%;
    right: 0;
    background: #fff;
    transform: translateX(400px);
    transition: 1s all;
}
.navbar-list-klik{
    transform: translateX(0);
}
.navbar-list ul{
    transform: translateY(50px);
}
.navbar-list ul li{
    list-style: none;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    transition: .7s all;
}
.navbar-list ul li:hover{
    background: #090d2c;
    color: #fff;
}
.navbar-list ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2rem;
    color: #212121;
    padding: 20px;
    transition: .7s all;
    transform: translateX(-10px);
    width: 80%;
    text-align: right;
}
.navbar-list ul li a:hover{
    padding: 40px;
    color: #fff;
}
.navbar-list ul li small{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    transform: translateX(270px);
    position: relative;
    transition: .1s all;
}
.navbar-list ul li small:hover{
    color: #fff;
    opacity: 1;
}
.navbar-list ul li small::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: #090322;
    top: 10px;
    right: 30px;
    transition: .1s all;
}
.navbar-list ul li small::before:hover{
    background: #fff;
}

/* Menu Lainnya */
/* .teks-ket2{
    font-size: 2rem;
    font-family: monospace;
    margin: 5% 0 0 45%;
    text-align: center;
    width: 40%;
    border-left: 2px solid #212121;
    border-right: 2px solid #212121;
}
.menu-lainnya{
    width: 90%;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    gap: 10px;
    align-items: center;
    margin: 2% auto;
    background: #fff;
    box-shadow: 10px 10px 0 #212121;
    border: 4px solid #212121;
    box-sizing: border-box;
}
.menu-card a{
    color: #212121;
    font-family: monospace;
    padding: 10px;
    border-left: 2px solid #090322;
    font-size: 1.2rem;
    margin: 10px;
    transition: .5s all;
}
.menu-card a:hover{
    text-shadow: 0 0 10px #212121;

} */