*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to top left, #fff, #6454f0);
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 99;
    background: linear-gradient(to left, #bdb7f5, #6454f0);
}
/* Homenya==== */
.home{
    flex-basis: 10%;
    width: 5%;
    height: 5vh;
    position: absolute;
    top: 30%;
    left: 2%;
    text-align: center;
}
.home a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    transition: .5s all;
}
.home a:hover{
    text-shadow: 0 0 5px #212121;
}

/* Searchnya==== */
.search{
    flex-basis: 50%;
}
.search input{
    outline: none;
    border-radius: 5px;
    border: 2px solid #c1bbfc;
    background: transparent;
    width: 60%;
    height: 5vh;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    margin-left: 10px;
    font-weight: bold;

}
.search button{
    width: 15%;
    border: 2px solid #bae6f3;
    height: 5.5vh;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: #aba3ee96;
    transition: .5s all;
}
.search button:hover{
    background: transparent;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin: 0 10px;
    transition: .5s all;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar ul li:hover{
    transform: translateY(-10px);
}
/* Cardya==== */

.konten{
    width: 50%;
    height: 200vh;
    background: #fff;
    position: absolute;
    right: 0;
    top: 20%;
    border-radius: 20px;
    box-shadow: 0 0 15px #413ef0;
}
.card{
    width: 80%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10% 40px 20% 40px ;
}
.thumb img{
    width: 30%;
    border: 2px solid #212121;
    padding: 20px;
}
.link a{
    color: #212121;
    font-size: 1.5em;
    font-weight: 600;
    font-family: monospace;
    position: absolute;
    left: 40%;
    width: 50%;
    transition: .5s all;
}
.link a:hover{
    text-shadow: 0 0 10px #212121;
}
.link h1{
    color: #212121;
    font-size: 1.3em;
    font-weight: 200;
    font-family: monospace;
    position: absolute;
    top: 5%;
    left: 40%;
    width: 30%;
    transition: .5s all;
    border-bottom: 2px solid #221122;
    border-right: 2px solid #221122;
    padding-bottom: 10px;
}

/* Box Konten==== */

.box-ket{
    position: fixed;
    top: 30%;
    left: 5%;
    width: 40%;
    height: 50vh;
}
.box-two{
    width: 60%;
    position: absolute;
    top: 40%;
    left: 20%;
    background: #d12222;
    border-radius: 10px;
    box-shadow: 0 0 10px #d12222;
}
.box-two h1{
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    padding: 20px;
    color: #bafae5;
}
.box-one{
    width: 30%;
    height: 20vh;
    position: absolute;
    top: 5%;
    left: -5%;
    background: #056d96;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    padding: 20px;
    color: #bafae5;
    transform: rotate(90deg);
    box-shadow: 10px 10px 0 #fff;
}
